.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
}

.heading {
  font-size: 6rem;
  background-image: linear-gradient(to right, #0070f3, #df03ba);
  background-clip: text;
  color: transparent;
  display: inline;
  text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.192);
  transition: all 0.2s;
  cursor: default;
}

.heading:hover {
  transform: scale(1.3);
  text-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.192);
}

.form {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}

.form > input {
  width: 100%;
  height: 8rem;
  border: 4px solid black;
  border-right: none;
  font: inherit;
  font-size: 2rem;
  text-align: center;
}

.form > button {
  border: 4px solid black;
  border-left: none;
  width: 25%;
  background-image: linear-gradient(to right, #0070f3, #a103df, #df03ba);
  color: #fff;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s;
}

.form > button:hover {
  transform: scale(1.05) translateY(-2px);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0.5rem 0.5rem black;
  cursor: pointer;
}

.form > button:focus {
  transform: scale(1.05) translateY(-2px);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0.5rem 0.5rem black;
  cursor: pointer;
}

.form > button:active {
  transform: scale(1.05) translateY(0);
  border: none;
  border-radius: 8px;
  box-shadow: none;
  cursor: pointer;
}

.form ::placeholder {
  font-size: 2rem;
  text-align: center;
}

.shortUrlBox {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.shortUrlBox :first-child {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin-top: 4rem;
}

.shortUrl {
  cursor: pointer;
  text-decoration: underline;
  word-wrap: break-word;
  word-break: break-all;
}

.shortUrl + p {
  font-size: 2rem;
  text-align: center;
  border: 1px solid black;
  box-sizing: content-box;
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: 0.1s;
}
@media (max-width: 600px) {
  .heading {
    text-align: center;
  }
  
  .form {
    flex-direction: column;
    width: 99vw;
    align-items: stretch;
    justify-content: space-between;
  }

  .form > input {
    border: 2px solid black;
  }

  .form > button {
    width: 100%;
    margin-top: 1rem;
    border: 2px solid black;
  }

  .form > button:hover {
    width: 100%;
    margin-top: 1rem;
    border: 2px solid black;
    transform: none;
    box-shadow: none;
    border-radius: none;
  }

  .form > button:active {
    width: 100%;
    margin-top: 1rem;
    border: 2px solid black;
    transform: none;
    box-shadow: none;
    border-radius: none;
  }
}
